<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<!--[if IE 6]><html class="ie6 ie"><![endif]-->
<!--[if IE 7]><html class="ie7 ie"><![endif]-->
<!--[if IE 8]><html class="ie8 ie"><![endif]-->
<!--[if IE 9]><html class="ie9 ie"><![endif]-->
<head>
<%= stylesheet_link_tag "application" %>

<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/html5element.js"></script>
<![endif]-->
</head>

<body>
	
 
    <!--header-->
    <div class="header">
        <!--wrapper-->
        <div class="wrapper">
            <!--header_cont-->
            <div class="header_cont add2">
                <!--navigation-->
                <div class="navigation">
                    <ul>
						<li class="no_padd_leftleft"><a href="#">SIGN IN</a></li>
                        <li class="no_padd_left"><a href="#">ABOUT US</a></li>
                        <li><a href="#">CONTACT US</a></li>
                        <li class="no_padd_right no_bg"><a href="#">TERMS AND CONDITIONS</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <!--navigation-->
               
                
                <!--toggle_btn-->
                <div class="toggle_btn"> <%= image_tag("toggle_nav.png")%> </div>
                <!--toggle_btn-->
                
                <!--toggle_nav-->
                <div class="toggle_nav">
                	<ul>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">CONTACT US</a></li>
                        <li><a href="#">TERMS AND CONDITIONS</a></li>
					
                    </ul>
                </div>
                <!--toggle_nav-->
            </div>
            <!--header_cont-->
            <div class="clear"></div>
            <div class="logo odd4 odd13">
               <%= image_tag("logo_img.png") %>
                <!--login_btn-->
               
                <!--login_btn-->
            </div>
            <div class="clear"></div>
	        </div>
        <!--wrapper-->
        <div class="clear"></div> 
    </div>
    <!--header--> 
    
   <!--wrapper-->  
   <div class="wrapper">
   		<div class="form_area">
	   	 	<div class="butt_left">
			 <%= link_to 'FIND A JOB', :'jobs' %>
			</div>
 	   	 	<div class="butt_right">
    	  	<%= link_to 'CREATE A C.V', :'sign_up' %>	
				<a href="#"> </a> 
 			</div>
  	   	 	<div class="butt_right">
			<%= link_to 'POST A JOB', :'job_sign_up' %>	
     	  	
  			</div>
    	</div>
    	<div class="spacer2"></div>
		</div>
   <!--wrapper-->
   
   <!--wrapper-->
   	<div class="wrapper">
        	<!--footer-->
            <div class="footer clearfix">
            	<span>COPYRIGHT JOBLOOK 2014</span>
                
                <!--social_icon-->
                <div class="social_icon">
                	<ul>
                    	<li class="no_padd_left"><a href="#"> <%= image_tag("fb_icon.png") %></a></li>
                        <li><a href="#"> <%= image_tag("twitter_icon.png") %></a></li>
                        <li class="no_padd_right"><a href="#"><%= image_tag("youtube_icon.png") %></a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <!--social_icon-->
            </div>
            <!--footer-->
        </div>
  <!--wrapper-->
    
</body>
</html>