<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<!--[if IE 6]><html class="ie6 ie"><![endif]-->
<!--[if IE 7]><html class="ie7 ie"><![endif]-->
<!--[if IE 8]><html class="ie8 ie"><![endif]-->
<!--[if IE 9]><html class="ie9 ie"><![endif]-->
<head>
<%= stylesheet_link_tag "application" %>

<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/html5element.js"></script>
<![endif]-->
</head>

<body>
	<!--header-->
    <div class="header">
        <!--wrapper-->
        <div class="wrapper">
            <!--logo-->
            <div class="logo">
                <a href="#"> <%= image_tag("logo_img.png") %></a>
                <!--login_btn-->
                <div class="login_btn"><a href="#">SIGN IN</a></div>
                <!--login_btn-->
            </div>
            <!--logo-->
            
            <!--header_cont-->
            <div class="header_cont">
                <!--navigation-->
                <div class="navigation">
                    <ul>
                        <li class="no_padd_left"><a href="#">ABOUT US</a></li>
                        <li><a href="#">CONTACT US</a></li>
                        <li class="no_padd_right no_bg"><a href="#">TERMS AND CONDITIONS</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <!--navigation-->
                <strong>HOME</strong>
                
                <!--toggle_btn-->
                <div class="toggle_btn"> <%= image_tag("toggle_nav.png")%> </div>
                <!--toggle_btn-->
                
                <!--toggle_nav-->
                <div class="toggle_nav">
                	<ul>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">CONTACT US</a></li>
                        <li><a href="#">TERMS AND CONDITIONS</a></li>
					
                    </ul>
                </div>
            </div>
            <!--header_cont-->
            <div class="clear"></div>
               
            
            <!--profile-->
            <div class="profile odd1">
                <h1><strong>JOB CLASSIFIEDS</strong></h1>
                <span></span>
                <div class="clear"></div>
                
                <!--profile_nav_area-->
            <div class="profile_nav_area">
            	<!--profile_nav-->
                <div class="profile_nav">
                	<ul>
						<li><%= link_to 'SIGN IN', :'landing'%></li>                      
                        <li><%= link_to 'CREATE A C.V', :'sign_up'%> </li>
                        <li><%= link_to 'POST A JOB OPENING', :'job_sign_up'%></li>
						
                    </ul>
                    <div class="clear"></div>
                </div>
                <!--profile_nav-->
                 <div class="clear"></div>
                    <!--mob_nav-->

                    <!--mob_nav-->
                    
                   
                </div>
                <!--profile_nav_area-->
            </div>
            <!--profile--> 
        </div>
        <!--wrapper-->
    </div>
    <!--header-->
    
    
   
        
        
        <!--wrapper-->
        <div class="wrapper">
            <!--checkout_cont-->
            <div class="checkout_cont2">
                <h3>SELECT YOUR PREFERRED JOB CATEGORY:</h3>
               <!-- <div class="select_box2">
                    <select class="dropdown2" style="width:100%;">
                        <option>VIEW ALL</option>
                        <option>VIEW ALL</option>
                        <option>VIEW ALL</option>
                    </select>
                </div> -->
              
            </div>
            <!--checkout_cont-->
            <div class="clear"></div>
            <!--cont_block-->
            <div class="cont_block">
            	<div class="select_box3">
                	<select class="dropdown3" style="width:100%;">
                    	<option>CASUAL LABOUR</option>
                        <option>PERMANENT JOBS</option>
                        <option>PROFESSIONAL</option>
                    </select>
                </div>
                
                <ul>
                	<li>
                        <a href="#"> <%= image_tag("block_pic1.png") %> </a>
                        <strong>BLOCKMAN</strong>
                        <small>27 VACANCIES<a href="#">VIEW</a></small>
                    </li>
                    
                    <li>
                        <a href="#"><%= image_tag("block_pic2.png") %></a>
                        <strong>PAINTER</strong>
                        <small>16 VACANCIES<a href="#">VIEW</a></small>
                    </li>
                    
                    <li class="no_margin">
                        <a href="#"><%= image_tag("block_pic3.png") %></a>
                        <strong>PLUMBER</strong>
                        <small>5 VACANCIES<a href="#">VIEW</a></small>
                    </li>
                    
                    <li>
                        <a href="#"><%= image_tag("block_pic4.png") %></a>
                        <strong>DOMESTIC WORKER</strong>
                        <small>27 VACANCIES<a href="#">VIEW</a></small>
                    </li>
                    
                    <li>
                        <a href="#"><%= image_tag("block_pic5.png") %></a>
                        <strong>BUILDER</strong>
                        <small>16 VACANCIES<a href="#">VIEW</a></small>
                    </li>
                    
                    <li class="no_margin">
                        <a href="#"><%= image_tag("block_pic6.png") %></a>
                        <strong>GARDENER</strong>
                        <small>5 VACANCIES<a href="#">VIEW</a></small>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <!--cont_block-->
        </div>
        <!--wrapper-->
        
        
        <!--wrapper-->
        <div class="wrapper">
        	<!--footer-->
            <div class="footer clearfix">
            	<span>COPYRIGHT JOBLOOK 2013</span>
                
                <!--social_icon-->
                <div class="social_icon">
                	<ul>
                    	<%= render :partial => "social" %>
                    </ul>
                </div>
                <!--social_icon-->
            </div>
            <!--footer-->
        </div>
        <!--wrapper-->
            
</body>
</html>