<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<!--[if IE 6]><html class="ie6 ie"><![endif]-->
<!--[if IE 7]><html class="ie7 ie"><![endif]-->
<!--[if IE 8]><html class="ie8 ie"><![endif]-->
<!--[if IE 9]><html class="ie9 ie"><![endif]-->
<head>

</head>
<%= stylesheet_link_tag "application" %>
<body>
	<!--header-->
    <div class="header">
        <!--wrapper-->
        <div class="wrapper">
            <!--logo-->
            <div class="logo">
                <a href="#"> <%= image_tag("logo_img.png") %></a>
                <!--login_btn-->
                <div class="login_btn"><a href="#">SIGN IN</a></div>
                <!--login_btn-->
            </div>
            <!--logo-->
            
            <!--header_cont-->
            <div class="header_cont">
                <!--navigation-->
                <div class="navigation">
                    <ul>
                        <li class="no_padd_left"><a href="#">ABOUT US</a></li>
                        <li><a href="#">CONTACT US</a></li>
                
                        <li class="no_padd_right no_bg"><a href="#">TERMS AND CONDITIONS</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <!--navigation-->
                <strong>HOME</strong>
                
                <!--toggle_btn-->
                <div class="toggle_btn"><%= image_tag("toggle_nav.png") %> </div>
                <!--toggle_btn-->
                
                <!--toggle_nav-->
                <div class="toggle_nav">
                	<ul>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">CONTACT US</a></li>
                        <li><a href="#">TERMS AND CONDITIONS</a></li>
                    </ul>
                </div>
                <!--toggle_nav-->
            </div>
            <!--header_cont-->
            <div class="clear"></div>
               
            
            <!--profile-->
            <div class="profile odd1">
                <h1><strong>PAINTER</strong></h1>
                <span></span>
                <div class="clear"></div>
                
                <!--profile_nav_area-->
            <div class="profile_nav_area">
            	<!--profile_nav-->
                <div class="profile_nav">
                	<ul>
                        
                        <li><a href="#">CREATE A C.V</a></li>
                        <li><a href="#">MY PROFILE</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <!--profile_nav-->
                 <div class="clear"></div>
                    <!--mob_nav-->
                    
                </div>
                <!--profile_nav_area-->
            </div>
            <!--profile--> 
        </div>
        <!--wrapper-->
    </div>
    <!--header-->
    
    
    <!--container-->
        <div class="container odd2">
        	<!--wrapper-->
            <div class="wrapper">
            	<!--job_details-->
                <div class="job_details">
                	<!--job_detail_block-->
                    <div class="job_detail_block">
                    	<h2>JACKS PAINT <small>04 DECEMBER 2013</small></h2>
                        <p>
                        	Painter must have previous work experiance, no criminal record and be available to work 5 days a week 08H00 - 17H00, must have trasport to Rosebank
                        </p>
                        <a href="#">VIEW JOB</a>
                        <a href="#">SUBMIT C.V</a>
                        <div class="clear"></div>
                    </div>
                    <!--job_detail_block-->
                    
                    <!--job_detail_block-->
                    <div class="job_detail_block">
                    	<h2>HOUSE JOB <small>04 DECEMBER 2013</small></h2>
                        <p>
                        	Painter must have previous work experiance, no criminal record and be available to work 5 days a week 08H00 - 17H00, must have trasport to Rosebank
                        </p>
                        <a href="#">VIEW JOB</a>
                        <a href="#">SUBMIT C.V</a>
                        <div class="clear"></div>
                    </div>
                    <!--job_detail_block-->
                    
                    <!--job_detail_block-->
                    <div class="job_detail_block">
                    	<h2>PAINTING ASSISTANT <small>04 DECEMBER 2013</small></h2>
                        <p>
                        	Painter must have previous work experiance, no criminal record and be available to work 5 days a week 08H00 - 17H00, must have trasport to Rosebank
                        </p>
                        <a href="#">VIEW JOB</a>
                        <a href="#">SUBMIT C.V</a>
                        <div class="clear"></div>
                    </div>
                    <!--job_detail_block-->
                    
                    <!--job_detail_block-->
                    <div class="job_detail_block">
                    	<h2>CONTRACT PAINTER <small>04 DECEMBER 2013</small></h2>
                        <p>
                        	Painter must have previous work experiance, no criminal record and be available to work 5 days a week 08H00 - 17H00, must have trasport to Rosebank
                        </p>
                        <a href="#">VIEW JOB</a>
                        <a href="#">SUBMIT C.V</a>
                        <div class="clear"></div>
                    </div>
                    <!--job_detail_block-->
                </div>
                <!--job_details-->
            </div>
            <!--wrapper-->
        </div>
        <!--container-->
        
        
        <!--wrapper-->
        
        <!--wrapper-->
        
        
        <!--wrapper-->
        <div class="wrapper">
        	<!--footer-->
            <div class="footer clearfix">
            	<span>COPYRIGHT JOBLOOK 2013</span>
                
                <!--social_icon-->
                <div class="social_icon">
                	<ul>
                    	<li class="no_padd_left"><a href="#"><%= image_tag("fb_icon.png") %> </a></li>
                        <li><a href="#"><%= image_tag("fb_icon.png") %></a></li>
                        <li class="no_padd_right"><a href="#"><%= image_tag("youtube_icon.png") %></a></li>
                    </ul>
                </div>
                <!--social_icon-->
            </div>
            <!--footer-->
        </div>
        <!--wrapper-->
        
<script type="text/javascript">
	$(window).load(function(){
		$('#foo').carouFredSel({
			auto: false,
			responsive: true,
			width: '100%',
			prev: '.prev_arrow',
			next: '.next_arrow',
			scroll: 1,
			items: {
				height: 'variable',
				visible: {
					min: 2,
					max: 4
					}
				}
			});	
	});
</script>             
</body>
</html>